.wrapper {
  display: flex;
}
.placeholder {
  margin-right: 5px;
}
.inputWrapper {
  flex-grow: 1;
  position: relative;
}
.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);

  // for hide caret
  // color: transparent;
  // text-shadow: 0 0 0 var(--primary-color);

  &:focus{
    outline: none;
  }
}
.caret {
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;

  // animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: blink 0.5s forwards infinite;
}

.readonly {
  pointer-events: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}